{{define "components/input" -}}
<div class="form-control gap-1">
  <input class="{{.Class}}" name="{{.Name}}" type="{{.Type}}" value="{{.Value}}"{{if .Placeholder}} placeholder="{{.Placeholder}}"{{end}}{{if .Min}} min="{{.Min}}"{{end}}{{if .Max}} max="{{.Max}}"{{end}}{{if .Required}} required{{end}}{{if .Disabled}} disabled{{end}} />
  {{if .Error}}<p class="text-sm text-error">{{.Error}}</p>{{end}}
</div>
{{- end}}
